.container-favoritos {
  display: grid;
  gap: 10px;
  padding: 15px;
  flex: 1;
  height: 80vh;
}
@media (min-width: 576px) {
  .container-favoritos {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .container-favoritos {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .container-favoritos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container-favoritos {
    grid-template-columns: repeat(4, 1fr);
  }
}
